<%- include('partials/header') %>

  <section id="contact">

    <h1>A propos de nous</h1>
    <div class="us">
      <h2>GreenRoots, c'est l'aventure d'une planète plus verte, un arbre à la fois.</h2>
      <p>Nous croyons que chacun peut devenir un acteur du changement.
        En proposant une sélection d'arbres emblématiques des quatres coins du monde,
        nous rendons la reforestation accessible à tous. Chaque arbre planté est une graine d'espoir pour les
        écosystèmes,
        les communautés locales et les générations futures. Ici, votre geste compte et se transforme en héritage vert.
      </p>
      <img src="/images/arbresplantes.webp" alt="terrain avec des personnes qui plantent des arbres" loading="lazy">
    </div>
    <div class="you">
      <h2>Rejoignez une communauté qui agit pour demain.</h2>
      <p>Chez GreenRoots, nous ne vendons pas seulement des arbres : nous créons un mouvement.
        transparence, impact mesurable et projets durables sont au cœur de notre mission.
        Que vous soyez un particulier, une entreprise ou une école, vous avez le pouvoir de faire la différence.
        Ensemble, faisons pousser un monde où nature et humanité respirent en harmonie.
      </p>
      <img src="/images/ensemble.webp"
        alt="plusieurs mains de différentes éthnies qui forment un rond avec chacun un arbre à planter" loading="lazy">
    </div>
    <div class="contact">
      <h2>Nous contacter</h2>
      <p>Vous avez une question sur nos projets, nos équipes ou nos arbres ?
        N'hésitez pas à nous contacter, nous seront ravis d'échanger avec vous.</p>
      <p>hello@greenroots.tree</p>
    </div>

  </section>







  <%- include('partials/footer') %>