<%- include('./partials/header') %>

<section class="section error-page">
  <h1>Erreur</h1>
  <p><%= message %></p>

  <a href="/" class="back_button">← Retour à l’accueil</a>
</section>

<%- include('./partials/footer') %>
