<%-include('partials/header')%>

<section class="login_page">
    <div class="login_container">
        <h1 class="connexion_h1">Connexion</h1>
        <form id="loginForm" class="connexion_form" action="/login" method="POST">
            <label for="email">Email :</label><br>
            <input class="input" placeholder="test123@mail.com" type="email" id="email" name="email" required> <br>

            <label for="password">Mot de passe :</label><br>
            <input class="input" placeholder="********" type="password" id="password" name="password" required> <br>

            <button type="submit" class="connexion_button">Se connecter</button>

            <div href="/register" class="register_link">
                <p class="no_account">Pas de compte ? <a class="inscrivez_vous" href="/register">Inscrivez-vous</a></p>
            </div>
        </form>

        <% if (error) { %>
            <p style="color:red;"><%= error %></p>
        <% } %>
    </div>
</section>

<%-include('partials/footer')%>
