<%- include('partials/header') %>

<section class="register_page">
    <div class="register_container">
        <h1 class="register_h1">Inscription</h1>
        <form class="register_form" action="/register" method="POST">

            <label for="username">Nom</label><br>
            <input class="input" placeholder="Votre Nom" type="text" id="last_name" name="last_name" required> <br>

            <label for="username">Prénom :</label><br>
            <input class="input" placeholder="Votre Prénom" type="text" id="first_name" name="first_name" required> <br>

            <label for="email">Email :</label><br>
            <input class="input" placeholder="test123@mail.com" type="email" id="email" name="email" required> <br>

            <label for="password">Mot de passe :</label><br>
            <input class="input" placeholder="********" type="password" id="password" name="password" required> <br>

            <label for="confirm_password">Confirmer le mot de passe :</label><br>
            <input class="input" placeholder="********" type="password" id="confirm_password" name="confirm_password" required> <br>

            <button type="submit" class="register_button">S'inscrire</button>
        </form>
          <% if (error) { %>
              <p style="color:red;"><%= error %></p>
          <% } %>
    </div>
</section>


<%- include('partials/footer') %>